* {
    padding: 0;
    margin: 0;
    font-size: 1em;
    /* background: #ff6363; */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
}

.search-box {
    background: white;
    padding: 10px;
    margin: 15px;
}

.list {
    background: lightgray;
    transition: background-color .5s;
    list-style: none;
}

li:hover {
    background-color: white;
    border: black;
}

input {
    height: 30px;
    width: 100%;
    background: gray;
    border: none;
}

::placeholder {
    color: white;
    padding-left: 5px;
}

.result-container {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
}

.cravingName {
    background-color: violet;
    display: flex;
    flex-direction: row;
}

.li-reason {
    padding: 10px 0px;
}